body {
    background: #E1E1E1;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 720px;
    width: 187.5px;
    background-image: url('icon/gray_bar.png'); /* Replace 'path_to_your_image.png' with the path to your image */
    background-size: cover; /* This ensures your image covers the entire sidebar */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    overflow-x: hidden;
    padding-top: 20px;
    color: #fff;
    z-index: 2;
}

.sidebar::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    background-image: url('icon/icons8-sidebar-96.png');
    background-size: cover;
    cursor: pointer;
}

.content {
    margin-left: 187.5px;
    padding: 10px;
    z-index: 1;
}
